@media screen and (max-width:1440px){
    main{
        width: 98.7vw;
    }
    section#main-text{
        width: 98.7vw;
    }
    section#touristic-points{
        width: 98.7vw;
    }
    section#time-line{
        width: 98.7vw;
    }
    section#comments{
        width: 98.7vw;
    }
}
@media screen and (max-height:950px){
    main{
        height: 112vh;
    }
}